.favorite__movies-movie-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
  gap: 2rem;
}

.favorite__movies h1 {
  font-size: 1.5rem;
  text-align: center;
}
