.movie__card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.movie_card--img {
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
